
button {
    margin: 0 auto;
    display: flex;
    background-color: #023E8A;
    color: white;
    padding: 20px 100px;
    border-radius: 10px;
    font-family: unset;
    border: none;
    font-size: 17px;
    
  }
  
  button:hover {
    background-color: #0077B6;
    color: white;
    cursor: pointer;
  
  }

  .logout-button{
    border-color: #919da9;
    color: #425061;
    background-color: #b3d0d6;
    padding-left: 40px;
    padding-right: 40px;
}